---
layout: default
title: Home
---

<b>Insights</b> is an intiative by <a href='http://research.aspiringminds.com'>Aspiring Minds Research</a> to give 52 rich insights into the Indian labour market, one week at a time. 
Subscribe here to get the Insights delivered to your inbox.
<br><br>
Read more about the project <a href=""> here</a>
<br><br>

Explore any of the categories!

{% include tile-menu.html %}

<br>

<!-- Do you want to have all the posts on the home page? -->

<!-- <div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a name="{{ post.title }}"></a>
      <a href="{{ site.url }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div> -->

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

